.history
*backups
/firmware/revo-servo-firmware

# Environment variables & secrets
.env
*.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# System / Editor
.DS_Store
Thumbs.db
*.swp
*.bak
.vscode/
.idea/
